
#marquee{
    height: 348px;
    -webkit-marquee-direction: up;
    -webkit-marquee-increment: 1px;
    -webkit-marquee-repetition: infinite;
    -webkit-marquee-speed: fast;
    -webkit-marquee-style: scroll;
}
#marquee1{
    height: 348px;
    -webkit-marquee-direction: down;
    -webkit-marquee-increment: 1px;
    -webkit-marquee-repetition: infinite;
    -webkit-marquee-speed: fast;
    -webkit-marquee-style: scroll;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    #marquee{
        height: auto;
    }
    #marquee1{
        height: auto;
    }
    #marquee ul{
        display: flex;

    }
    #marquee ul img{
        width: auto;
        height: 100px;
    }
    #marquee1 ul{
        display: flex;
    }
    #marquee1 ul img{
        width: auto;
        height: 100px;
    }
}