<div class="container-fluid">
    <div class="row col-md-12 live_streaming">
        <div class="col-md-12 mt-5 mb-5 text-center">
            <h4>Live Streaming</h4>
        </div>
        <div class="col-md-3">
            <marquee width="100%" scrollamount="30" behavior="sliding" height="348px" direction="up">
                <ul type="none" class="m-0 p-0 text-right">
                    <li *ngFor="let item of scrollingImages" class="mb-2 mt-2">
                        <img [src]="'../../assets/'+item" style="border:orangered 1px solid;margin: 2px;" width="150"
                            height="auto">
                    </li>
                </ul>
            </marquee>
        </div>
        <div class="col-md-6">
            <video width="100%" autoplay height="348px">
                <source src="../../assets/Verification.mp4" >
            </video>
        </div>
        <div class="col-md-3">
            <marquee width="100%" scrollamount="30" behavior="sliding" height="348px" direction="down">
                <ul type="none" class="m-0 p-0">
                    <li *ngFor="let item of scrollingImages" class="mb-2 mt-2">
                        <img [src]="'../../assets/'+item" style="border:orangered 1px solid;margin: 2px;" width="150"
                            height="auto">
                    </li>
                </ul>
            </marquee>
        </div>
    </div>
</div>