<div class="conatiner">
    
    <div class="card">
        <div class="w-100 logo_image">
            <img src="../../assets/logo.png" class="logo" alt="Logo" width="200">
        </div>
        <div class="login_page">
            <h4 class="mb-3">Nellore Police Dept</h4>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="login_form mb-5">
                <mat-form-field class="example-full-width w-75">
                    <input matInput formControlName="username" placeholder="Email/User Name">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="example-full-width w-75">
                    <input matInput formControlName="password" placeholder="Password">
                    <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
                  <div class="submit_btn mt-4">
                      <button type="submit" class="btn login_btn">Login</button>
                  </div>
            </form>
        </div>
    </div>
</div>
