.conatiner{
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    /* justify-content: center; */
    margin: 0 auto;
    min-height: auto;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    text-align: center;
}
.login_page img{
    height: 90px;
    width: 94px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}
.logo_image{
    text-align: center;
    margin-bottom: -18%;
    z-index: 999;
    position: absolute;
    margin-top: -10.5%;
}
.logo_image img{
 width: 100px;   
 border: 1px solid #000;
border-radius: 50%;
padding: 13px;
background-color: #fff;
position: fixed;
margin-left: -50px;
}
.login_btn{
    border: 0px solid #000;
    padding: 5px;
    background-image: linear-gradient(to right top, #9420ed, #7537d6, #5b40bc, #49429f, #3f4181);
    color: #fff;
    width: 40%;
    font-size: 18px;
    border-radius: 20px;
}
.login_page h4{
    margin-top:62px;
}
@media only screen and (min-width: 320px) and (max-width: 425px){
    .card{
        width: 90%;
    }
}
@media only screen and (min-width: 425px) and (max-width: 768px){
    .card{
        width: 60%;
    }
}