<div class="container-fluid">
    <div class="row mt-2 btn_display">
        <div class="col-md-6 d_align-1">
            <h4>Junctions</h4>
        </div>
        <div class="col-md-6 d_align mb_align">
            <button (click)="generateDataforReport('open')" class="btn mr-2 table_btn">
                <i class="fa fa-eye mr-1"></i>View
            </button>
            <button (click)="generateDataforReport('download')" class="btn table_btn">
                <i class="fa fa-download mr-1"></i> Download
            </button>
        </div>
    </div>
    <form [formGroup]="filtersForm" class="mt-4">
        <div class="row center_align">
            <div class="col-md-3 mt-1 tab_display_inline_tabel">
                <div class="label md-none">
                    <label>Select Junction</label>
                </div>
                <div>
                    <p-dropdown [options]="junctions" formControlName="junction" placeholder="Select a Junction"
                        optionLabel="name" filter="true" [style]="{'min-width':'76%'}"></p-dropdown>
                </div>

            </div>
            <div class="col-md-3 mt-1 tab_display_inline_tabel">
                <div class="label">
                    <label>Select Date Range</label>
                </div>
                <p-dropdown [options]="drTypes" placeholder="Select Date Range" optionLabel="name"
                    [style]="{'min-width':'76%'}" styleClass="md-100">
                </p-dropdown>
            </div>
            <div class="col-md-3 mt-1 tab_display_inline_tabel">
                <div class="label">
                    <label>From Date</label>
                </div>
                <p-calendar [showIcon]="true" formControlName="fromDate" dataType="date" dateFormat="dd/mm/yyy"
                    [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                </p-calendar>
            </div>
            <div class="col-md-3 mt-1 tab_display_inline_tabel">
                <div class="label">
                    <label>To Date</label>
                </div>
                <p-calendar [showIcon]="true" formControlName="toDate" dataType="date" dateFormat="dd/mm/yy"
                    [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                </p-calendar>
            </div>
            <div class="col-md-3 mt-3 tab_display_inline_tabel">
                <div class="label">
                    <label>Select Vehicle Type</label>
                </div>
                <p-dropdown [options]="vehicleTypes" formControlName="vehicle_type" placeholder="Select Vehicle Type"
                    optionLabel="name" filter="true" [style]="{'min-width':'76%'}"></p-dropdown>
            </div>
            <div class="col-md-3 mt-3 tab_display_inline_tabel">
                <div class="label">
                    <label>Select Vehicle Color</label>
                </div>
                <p-dropdown [options]="colors" formControlName="color" placeholder="Select Vehicle Color"
                    optionLabel="name" filter="true" [style]="{'min-width':'76%'}"></p-dropdown>
            </div>
            <div class="col-md-3 mt-3 tab_display_inline_tabel">
                <div class="label">
                    <label>Select Vehicle Make</label>
                </div>
                <p-dropdown [options]="vehicleMakes" formControlName="vehicle_make" placeholder="Select Vehicle Make"
                    optionLabel="name" filter="true" [style]="{'min-width':'76%'}"></p-dropdown>
            </div>
            <div class="col-md-3 mt-3 tab_display_inline_tabel">
                <div class="label">
                    <label>Select Helmet Status</label>
                </div>
                <p-dropdown [options]="helmetStatus" formControlName="helmet" placeholder="Select Helmet Status"
                    optionLabel="name" filter="true" [style]="{'min-width':'76%'}"></p-dropdown>
            </div>
        </div>
    </form>
    <div class="matrics">
        <div class="row col-md-12 tab_display">
            <!-- <div class="col-md-5 row"> -->
            <div class="col-md-3 junction_display_cards" *ngFor="let item of dynamicCards">
                <div class="card junctions_info_card">
                    <div class="row p-2 card_data">
                        <div class="col-md-9">
                            <p class="p-1 m-0 font-weight-500">{{item.vehicle_name}}</p>
                            <p class="p-1 m-0 mt-1">{{item.count}}</p>
                        </div>
                        <div [ngClass]="item.cssClass" class="col-md-3 card_info_icon">
                            <mat-icon matSuffix class="mt-2">{{item.icon}}</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-md-7 row live_stream_div tab_display">
                <div class="col-md-2 display-none tab_mt_2">
                    <marquee width="100%" scrollamount="30" behavior="sliding" direction="up">
                        <ul type="none" class="m-0 p-0 text-right">
                            <li *ngFor="let item of marqueeImages" class="mb-2 mt-2">
                                <img [src]="'../../assets/'+item" style="border:orangered 1px solid;margin: 2px;"
                                    width="70" height="auto">
                            </li>
                        </ul>
                    </marquee>
                </div>
                <div class="col-md-8 p-0 tab_mt_2">
                    <video autoplay loop controls controlslist="nodownload noremoteplayback" width="100%" class="live_video" 
                        title="Click For Fullview" disablepictureinpicture >
                        <source src="../../assets/Verification.mp4">
                    </video>
                </div>
                <div class="col-md-2 display-none tab_mt_2">
                    <marquee width="100%" scrollamount="30" behavior="sliding" direction="down">
                        <ul type="none" class="m-0 p-0">
                            <li *ngFor="let item of marqueeImages" class="mb-2 mt-2">
                                <img [src]="'../../assets/'+item" style="border:orangered 1px solid;margin: 2px;"
                                    width="70" height="auto">
                            </li>
                        </ul>
                    </marquee>
                </div>
            </div> -->
        </div>
    </div>
    <div class="mt-4">
        <!-- <div class="mt-4 w-100"> -->
        <p-table #dt [columns]="cols" [value]="tableData" [scrollable]="true" [style]="{width:'100%'}"
            [rowsPerPageOptions]="[25,50,100,{showAll:'All'}]" sortMode="multiple" [paginator]="true" [rows]="25">
            <ng-template pTemplate="caption">
                <!-- <div class="row col-md-12"> -->
                    <div class="col-md-12 text-center">
                        <input type="text" pInputText size="50"
                            placeholder="Search with Reg.No,Vehicle Color,Type or Make"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" class="search_pipe">
                    </div>
                <!-- </div> -->
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width: 180px;text-align: center;">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" class="cell-overflow" style="width: 180px;text-align: center;">
                        <span style="text-transform: capitalize;"
                            *ngIf="col.header!='Date & Time'&&col.header!='Number Plate'&&col.header!='Vehicle Image'&&col.header!='Full Image'">{{rowData[col.field]!=""?rowData[col.field]:'N/A'}}</span>
                        <span *ngIf="col.header=='Date & Time'">{{rowData[col.field]|date:'medium'}}</span>
                            <span style="cursor: pointer;"
                            *ngIf="col.header=='Number Plate'||col.header=='Vehicle Image'||col.header=='Full Image'">
                            <img style="max-width: 100px;max-height: 100px;" height="auto" width="auto" alt="N/A" [src]="rowData[col.field]?'../../assets/'+rowData[col.field]:'../../assets/no_image.png'">
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>