.card_data mat-icon{
    /* float: right; */
    font-size: 36px;
    margin-left: -25px;
    
}
.table_btn{
    background-color: #4131da;
    color: #fff;
    border-radius: 20px;
    border: 0px solid #4131da;
    padding: 5px 15px 5px 15px;
}
.table_btn:hover{
    background-color: #fff;
    color: #4131da;
    transition: ease-in 1s;
    transition: ease-out 1s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-bottom: 2px solid #4131da;
    border-radius: 5px;
}
.junctions_info_card{
    border-radius: 15px;
    border: 0px solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.font-weight-500{
    font-weight: 500;
}
.live_stream_div{
    margin-top: 3.5rem;
    padding-right: 0px;
    margin-left: 1.5rem;
}
.live_stream_div marquee{
    height: 376px;
}
.live_video{
    height: auto;
    margin-top: 2.9rem; 
}
.junction_display_cards{
    margin-top: 2rem;
}
/* .junction_display_cards:nth-child(1){
    margin-top: 3rem;
}
.junction_display_cards:nth-child(2){
    margin-top: 3rem;
}
.junction_display_cards{
    margin-top: 1%;
} */
/* .tab-width{
    min-width: 100%;
} */
.normal-width{
    min-width: 80%;
}
@media only screen and (min-width: 320px) and (max-width: 560px){
    .card_data mat-icon{
        margin-left: 0px !important;
        float: right;
        margin-top: -21% !important;
    }
    .center_align{
        margin-left: auto;
    }
    .junctions_info_card{
        width: 70%;
    }
    .junction_display_cards{
        display: flex;
        justify-content: center;
    }
    .md-100{
        width: 100%;
    }
    .search_pipe{
        width: 100%;
    }
    .mb_align{
        text-align: end !important;
        margin-top: -9%;
    }
    .display-none{
        display: none;
    }
    .junction_display_cards{
        margin-top: 2rem !important;
    }
    .live_stream_div{
    margin-top: 0px;
    padding-right: 0px;
    margin-left: 0px;
}
.d_align-1{
    text-align: left !important;
}


}
@media only screen and (min-width: 561px) and (max-width: 768px){
    .tab_display{
        display: contents;
    }
    .tab_mt_2{
        margin-top: 2%;
    }
    .tab_display_inline_tabel{
        display: inline-grid;
        min-width: 50%;
    }
    .ui-calendar.ui-calendar-w-btn input{
        width: auto !important;
    }
    .normal-width{
        min-width: 100%;
    }
    .mb_align{
        display: contents;
    }
    .junction_display_cards{
        max-width: 50%;
        display: inline-block;
    }
    .search_pipe{
        width: 100%;
    }
    .tab-display{
        max-width: 50%;
    }
    .btn_display{
        justify-content: center;
    }
}
.ml_18{
    margin-left: -18%;
}
.d_align-1{
    text-align: end;
}
.d_align{
    text-align: end;
}
.card_info_icon mat-icon{
    border: 1px solid #0EDE98;
    border-radius: 50%;
    width: 50px;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
::ng-deep .ui-calendar.ui-calendar-w-btn input{
    width: 83%;
}
.first_circle mat-icon{
    background-image: linear-gradient(to left bottom, #38d8a2, #5adeb0, #75e4be, #8eeacb, #a5f0d7);
}
.second_circle mat-icon{
    background-image: linear-gradient(to left bottom, #ffd65a, #fdd86c, #fbdb7c, #f8dd8c, #f6df9c)    
}
.third_circle mat-icon{
    background-image: linear-gradient(to left bottom, #e9918f, #e99bcb, #bbb5ff, #62d3ff, #0fe8f8);
}
.fourth_circle mat-icon{
    background-image: radial-gradient(circle, #d8a38b, #daab96, #dcb2a0, #ddbaab, #dec2b6);
}
.fifth_circle mat-icon{
    background-image: linear-gradient(to left bottom, #f6de03, #f6e136, #f6e450, #f6e766, #f6ea7a);
}

.seventh_circle mat-icon{
    background-image: linear-gradient(to left bottom, #f05e5a, #d39233, #9cbb54, #55d7a5, #0fe8f8);
}
.eigth_circle mat-icon{
    background-image: linear-gradient(to left bottom, #c4e9dc, #a1dfc8, #7cd5b3, #54ca9c, #14be85);
}