.toolbar{
    background-color: #4131da; 
    /* linear-gradient(to right top, #9420ed, #7537d6, #5b40bc, #49429f, #3f4181); */
    width:100%;
    color: #fff;
}

.container-fluid{
    background-color: rgb(158, 175, 226);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.example-container {
    overflow: hidden; 
    height: 100%;
}

.example-sidenav {
    margin-right: 10px;
    height: 100%;
}
.sideNavRow{
    padding: 0;
    height: 100%;
}

.example-spacer {
    flex: 1 auto;
}

.nav-link{
    color:#0B589F;
    cursor: pointer;
}
.icon{
    content: '\02C3';
  color: #ffffff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.icon::after{
    content: "\02C5";
}
.active{
    background-color: #4131da;
    color: #fff;
    border: 0px solid #4131da;
    /* border-radius: 8px; */
}
.child_member{
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 15px;
    transition: width 5s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    /* transition: bottom 5s cubic-bezier(1.30, 1.10, 1.10, 1.35); */
    box-shadow: 0 0.1px 0.2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.dropdown-active{
    margin-top: 2%;
    color: #4131da;
    font-size: 15px;
    width: 94%;
    font-weight: 500;
    margin-left: 3%;
    /* background-color: #4AA6F1; */
    transition: width 5s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    /* transition: background-color ease-in-out 0.5s; */
    /* border: 0px solid; */
    border-bottom: 2px solid #4131da;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
ul li{
    list-style: none;
}
    
.headerclass{
    height: 60;
}

.appbody{
    flex-grow: 1;
}

.fa-sign-out{
    font-size: 22px;
    color: #d9d9d9;
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.logo{
    width: 40%;
    height: auto;
}
.margin_top{
    margin-top: 2px;
}
.log_out_btn{
    cursor: pointer;
}

.header-container{
    max-width : 1200px;
    height : auto;
    position: relative;
    top: 0;
    z-index: 100;
    margin: auto;
}
.navbar{
/* background-color: white; */
    width: 100%;
}
.toolbar{
    width: 100%;
}

.notification_size{
    font-size: 25px;
}
.mobile_view{
    display: none;
}
.display_view{
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 560px){
    .mobile_view{
        display: block;
    }
    .mobile_nav{
        width: 100%;
        display: flex;
    }
    .logo img{
        width: 70%;
    } 
    .city_logo img{
        width: 16%;
    }
    .name{
        width: 10%;
    }
    .notification{
        float: right;
    }
    .notification mat-icon:nth-child(1){
        width: 10%;
        margin-left: 0% !important;
        margin-right: 50% !important;
        margin-top: 6px !important;
    }
    .display_view{
        display: none;
    }   
}