<div class="container-fluid">
  <div class="row headerclass" *ngIf="showHeader">

    <mat-toolbar class="toolbar display_view">
      <mat-toolbar-row class="header_container">
        <div class="navbar">
          <span><img src="../assets/guise_logo.png"></span>
          <span style=" font-size: 22px;"><span><img src="../assets/logo.png" class="mr-2" width="60"></span> <span>Nellore Police</span></span>
          <span><mat-icon matSuffix class="mr-5 notification_size">notifications_none</mat-icon> <mat-icon matSuffix (click)="onLogOut()" class="log_out_btn">power_settings_new</mat-icon> </span>    
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="toolbar mobile_view">
      <mat-toolbar-row class="mobile_header">
        <div class="mobile_nav">
          <span class="logo"><img src="../assets/guise_logo.png"></span>
          <span style=" font-size: 22px;" class="city_logo"><span><img src="../assets/logo.png" class="mr-2" width="60"></span> <span class="name">Nellore Police</span></span>
          <span class="notification"><mat-icon matSuffix class="mr-5 notification_size">notifications_none</mat-icon> <mat-icon matSuffix (click)="onLogOut()" class="log_out_btn">power_settings_new</mat-icon> </span>    
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row appbody">
    <div class="col-md-12 sideNavRow">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <ul class="nav flex-column margin_top">
            <li class="nav-item" *ngFor="let item of sidenavElements">
              <div class="nav-link" [ngClass]="{'active':item.id==tabId}"  (click)="tabId=item.id;onSideNavClick(item);toggle(item)" >
                <span >{{item.name}}</span>&nbsp;<span style="float:right;"><mat-icon md-list-icon>{{item.icon}}</mat-icon></span>
              </div>
              <div *ngIf="item.childern && childVisible">
                <ul class="nav flex-column">
                  <li class="nav-item" *ngFor="let child of item.childern">
                    <div class="nav-link child_member" [ngClass]="{'dropdown-active':child.id==childId}"  (click)="tabId=item.id;onSubMenuClick(item,child,1)">
                      <span >{{child.name}}</span>&nbsp;<span style="float:right;"><mat-icon md-list-icon>{{child.icon}}</mat-icon></span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </mat-drawer>
        <div class="example-sidenav-content" *ngIf="isVisible">
          <button type="button" mat-button (click)="drawer.toggle()">
              <mat-icon matSuffix>menu</mat-icon>
          </button>
        </div>
        <router-outlet></router-outlet>
      </mat-drawer-container>
    </div>
  </div>
</div>