<div class="container-fluid ">
    <div class="row mt-2 justify-content-center">
            <h4 class="mb-2">Watch List</h4>
    </div>
    <div class="row mt-2 justify-content-center">
            <h5>Select To Track</h5>
    </div>
    <div class="row text-center d-flex justify-content-center">
        <div class="mt-4">
            <div class="watch-icon_ui">
                <i class="fa fa-car fa-3x" [ngClass]="{'watchIconActive':inputType=='vehicle'}" style="cursor: pointer;"
                    (click)="onIPTypeSelect('vehicle')" aria-hidden="true"></i>
            </div>
            <div class="text-center mr-4">
                <span>By Vehicle</span>
            </div>
        </div>
        <div class="mt-4">
            <div class="watch-icon_ui_left">
                <i class="fa fa-user fa-3x" [ngClass]="{'watchIconActive':inputType=='face'}" style="cursor: pointer;"
                    (click)="onIPTypeSelect('face')" aria-hidden="true"></i>
            </div>
            <div class="text-center ml-4">
                <span>By Person</span>
            </div>
            <!-- <div class="col-md-6">
                <div class="text-right">
                    <span>Select To Track </span>
                </div>
                <div class="watch-icon_ui">
                    <i class="fa fa-car fa-3x" [ngClass]="{'watchIconActive':inputType=='vehicle'}" style="cursor: pointer;" (click)="onIPTypeSelect('vehicle')"
                    aria-hidden="true"></i>                
                </div>
                <div class="text-right">
                    <span>By Vehicle</span>
                </div>
            </div> -->
            <!-- <div class="col-md-6">
                <div class="text-left">
                    <span>Select To Track</span>
                </div>
                <div class="watch-icon_ui_left">
                    <i class="fa fa-user fa-3x" [ngClass]="{'watchIconActive':inputType=='face'}" style="cursor: pointer;" (click)="onIPTypeSelect('face')"
                    aria-hidden="true"></i>
                </div>
                <div class="text-left">
                    <span>By Person</span>
                </div> -->

            <!-- </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center mt-3">
                <span *ngIf="inputType=='face'">
                    <label class="pretty-file" style="margin-top: 24px;">
                        Choose Image
                        <input type="file" accept="Image/*" multiple (change)="uploadImages($event.target.files)" />
                    </label>
                </span>
            </div>
            <p-accordion [activeIndex]="activeTabs" *ngIf="inputType=='vehicle'">
                <p-accordionTab header="Enter Vehicle Numbers" [selected]="true">
                    <form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)" class="text-center">
                        <div formArrayName="vehicle_num"
                            *ngFor="let item of inputForm.get('vehicle_num')['controls']; let i=index">
                            <div [formGroupName]="i" class="row col-md-12 mt-2">
                                <div class="col-md-10 text-right font-left">
                                    <input type="text" class="mb-2" formControlName="reg_num">
                                </div>
                                <div class="col-md-2 text-left p-0 m-0 mt-1 font-right">
                                    <i class="fa fa-minus-circle ml-2 color-red" aria-hidden="true"
                                        *ngIf="inputForm.get('vehicle_num')['controls'].length>1||i<inputForm.get('vehicle_num')['controls'].length-1"
                                        (click)="removevehclenum(i)"></i>
                                    <i class="fa fa-plus-circle ml-2 color-green" aria-hidden="true"
                                        [ngClass]="{'disableIcons':inputForm.invalid}"
                                        *ngIf="i==inputForm.get('vehicle_num')['controls'].length-1"
                                        (click)="addvehclenum()"></i>
                                </div>

                            </div>
                        </div>
                        <div><button pButton type="submit" [disabled]="inputForm.invalid" label="Submit"
                                class="mt-2 ui-button-rounded"></button></div>
                    </form>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row justify-content-center mt-3">
        <h5>Tracking</h5>
    </div>
    <div class="container mt-3 ">
        <div *ngIf="numberPlateCard" class="card_minheight">
            <div class="row col-md-12 m-0">
                <div class="col-md-4 mb-2" *ngFor="let item of selectedRegNums">
                    <div class="card tracking_card">
                        <div class="row text-center" style="display: flex; flex-wrap: wrap;justify-content: center;">
                            <span class="font_size">
                                <p>{{item}}</p>
                            </span>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6 text-right mb-2 font_weight card-md-left">
                                Junction :
                            </div>
                            <div class="col-md-6 pl-0 mb-2 font-14 card-md-right">
                                TrunkRoad - 1
                            </div>
                            <div class="col-md-6 text-right mb-2 font_weight card-md-left">
                                Date & Time :
                            </div>
                            <div class="col-md-6 pl-0 mb-2 font-14 card-md-right">
                                31 - jan - 2020,<br> 10:55 AM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="imagecard" class="card_minheight_200">
            <div class="row col-md-12">
                <div class="row col-md-12 m-0">
                    <div class="col-md-4 mb-2" *ngFor="let item of selectedImages">
                        <div class="tracking_card">
                            <div class="row text-center"
                                style="display: flex; flex-wrap: wrap;justify-content: center;">
                                <span class=""><img [src]="item" width="80" style="border-radius: 50%;"></span>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6 text-right mb-2 font_weight card-md-left">
                                    Junction :
                                </div>
                                <div class="col-md-6 pl-0 mb-2 font-14 card-md-right">
                                    TrunkRoad - 1
                                </div>
                                <div class="col-md-6 text-right mb-2 font_weight card-md-left">
                                    Date & Time :
                                </div>
                                <div class="col-md-6 pl-0 mb-2 font-14 card-md-right">
                                    31 - jan - 2020,<br> 10:55 AM
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <h5>Previously Seen</h5>
    </div>
    <div class="container mt-3 ">
        <div *ngIf="numberPlateCard">
            <div class="row col-md-12 p-0">
                <div class="col-md-6 mb-4" *ngFor="let item of selectedRegNums">
                    <p-fieldset [legend]="item">
                        <p-table [columns]="cols" [value]="historyData" [scrollable]="true" [style]="{width:'100%'}" [paginator]="true" [rows]="10"
                            *ngIf="cols.length>0">
                            <ng-template pTemplate="header" let-columns>
                                <tr >
                                    <th *ngFor="let col of columns" style="width: 130px;">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr >
                                    <td *ngFor="let col of columns" style="width: 130px;">
                                        <span
                                            *ngIf="col.header!='Vehicle Image'&&col.header!='Rider Image'&&col.header!='Image'">{{rowData[col.field]}}</span>
                                        <span style="cursor: pointer;"
                                            *ngIf="col.header=='Vehicle Image'||col.header=='Rider Image'||col.header=='Image'">
                                            <img height="auto" width="100" [src]="'../../assets/'+rowData[col.field]">
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-fieldset>
                </div>
            </div>
        </div>
        <div *ngIf="imagecard">
            <div class="row col-md-12 p-0">
                <div class="col-md-6 mb-4" *ngFor="let item of selectedImages">
                    <p-fieldset [toggleable]="false">
                        <p-header><img [src]="item" width="50" style="border-radius: 50%;"></p-header>
                        <p-table [columns]="cols" [value]="historyData" [scrollable]="true" [style]="{width:'100%'}" [paginator]="true" [rows]="10"
                            *ngIf="cols.length>0">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" style="width: 130px;">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns" style="width: 130px;">
                                        <span
                                            *ngIf="col.header!='Vehicle Image'&&col.header!='Rider Image'&&col.header!='Image'">{{rowData[col.field]}}</span>
                                        <span style="cursor: pointer;"
                                            *ngIf="col.header=='Vehicle Image'||col.header=='Rider Image'||col.header=='Image'">
                                            <img height="auto" width="100" [src]="'../../assets/'+rowData[col.field]">
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>

</div>