.pretty-file {
    border: 0px solid #000;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    background-color: #4131da;
    color: #fff;
    border-radius: 20px;
  }
  
  .pretty-file input[type="file"] {
    display: none;
  }

  .color-red {
    color: red;
    cursor: pointer;
    font-size: large;
}
.color-green{
    color: green;
    cursor: pointer;
    font-size: large;
}
.disableIcons{
  pointer-events: none;
  color: #ccc;
}
  .tracking_card{
    width: 100%;
  }
  .tracking{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  ::ng-deep .ui-fieldset .ui-fieldset-legend{
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: 500;
  }
  ::ng-deep legend{
    width: auto !important;
  }
  ::ng-deep .ui-fieldset{
    min-height: 151px;
  }
  .pd-10{
    padding: 10px 0px 10px 0px;
  }
  .hover_fieldset img{
    transition: transform ease-in-out 1s;
  }
  .hover_fieldset:hover img{
    margin-top: 1%;
    transform: scale(1.3);
  }
  .font_size{
    font-size: 16px;
    font-weight: 600;
  }
  .font_size p{
    width: 130px;
    border-bottom: 1.5px solid #4131da;
  }
  .font_weight{
    font-weight: 500;
  }
  .font-14{
    font-size: 15px;
  }
  .watch-icon_ui i{
    border: 1px solid #0EDE98;
    border-radius: 50%;
    width: 110px;
    height: 100px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .watch-icon_ui{
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 24px;
  }
  .watch-icon_ui_left{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 33px;
  }
  .watch-icon_ui_left i{
    border: 1px solid #0EDE98;
    border-radius: 50%;
    width: 110px;
    height: 100px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: transform ease-in-out 1s;
  }
  .center_input{
    text-align: center;
    justify-content: center;
    align-items: baseline;
    margin: 0px;
  }
  ::ng-deep .ui-card{
    border-radius: 11px !important;
  }
  /* .watch-icon_ui_left:hover i{
    transform: scale(1.3);
  } */
  /* .hover_fieldset img{
    transition: transform ease-in-out 1s;
  }
  .hover_fieldset:hover img{
    margin-top: 1%;
    transform: scale(1.3);
  } */
  .watchIconActive{
    background: #07845a;
    color: #fff;
  }
  ::ng-deep .card_minheight .ui-card{
    min-height: 140px;
  }
  ::ng-deep .card_minheight_200 .ui-card{
    min-height: 200px;
  }
  .tracking_card{
    border-radius: 15px;
    border: 0px solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  @media only screen and (min-width: 320px) and (max-width: 767px){
    .font-right{
      float: right !important;
      width: 0;
      /* margin-top: -29px !important; */
    }
    .font-left{
      text-align: center !important;
    }
    .card-md-left{
      text-align: left !important;
      margin-left: 17%;
    }
    .card-md-right{
      text-align: right;
      margin-top: -9.4%;
      margin-right: 13%;
    }

  }