<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h4>Dashboard</h4>
        </div>
    </div>
    <div class="row center_align">
        <div class="col-md-3 mt-1 tab_display">
            <div class="label">
                <label>Select Junction</label>
            </div>
            <div class="dropdown">
                <p-dropdown [options]="junctionsList" [(ngModel)]="selectedJunction" placeholder="Select a Junction" optionLabel="name" filter="true"></p-dropdown>
            </div>
        </div>
        <div class="col-md-3 mt-1 tab_display">
            <div class="label">
                <label>Select Date Range</label>
            </div>
            <div class="dropdown">
                <p-dropdown  [options]="dropdown" placeholder="Select Date Range" optionLabel="name"></p-dropdown>
            </div>
        </div>
        <div class="col-md-3 mt-1 tab_display">
            <div class="label">
                <label>From Date</label>
            </div>
            <div class="dropdown">
                <p-calendar [showIcon]="true" [(ngModel)]="fromdate"  dataType="date" dateFormat="dd/mm/yy" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030"></p-calendar>
            </div>
        </div>
        <div class="col-md-3 mt-1 tab_display">
            <div class="label">
                <label>To Date</label>
            </div>
            <div class="dropdown">
                <p-calendar [showIcon]="true" [(ngModel)]="todate" dataType="date" dateFormat="dd/mm/yy" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030"></p-calendar>
            </div>
        </div>
    </div>
    <div class="matrics">
        <div class="row">
            <div class="col-md-3 mt-5 count_data" *ngFor="let item of dynamicCards">
                <div class="card count_card">
                    <div class="row p-3 card_data">
                        <div class="col-md-9 mt-1">
                            <p class="p-1 m-0 font-weight-500">{{item.vehicle_name}}</p>
                            <p class="p-1 m-0 mt-1">{{item.count}}</p>
                        </div>
                        <div [ngClass]="item.cssClass" class="col-md-3 card_info_icon">
                            <mat-icon matSuffix class="mt-3">{{item.icon}}</mat-icon>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="notofications mt-5">
        <div class="card notification_card shadow bg-red rounded">
            <div class="row">
                <div class="col-md-2 ">
                    <mat-icon matSuffix class="blinking_notification">error_outline</mat-icon>
                </div>
                <div class="col-md-10 mt-2">
                    <span>
                        An Ambulance is Waiting in Traffing at the Junction 1 ..... Clear The Traffic
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</div>