.page-family{
  font-family: 'Roboto', sans-serif;;
}
::ng-deep .ui-fieldset .ui-fieldset-legend{
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  font-weight: 500;
}
::ng-deep .ui-fieldset .ui-fieldset-legend a{
    padding: 0.1em 0.4em !important;
}
::ng-deep legend{
  width: auto !important;
}
::ng-deep .settings .ui-fieldset .ui-fieldset-legend-text{
    background: #F4F4F4;
    padding: 5px 10px 5px 10px;
    border: 1px solid #c8c8c8;  
    border-radius: 10px;  
}
.w-40{
    width: 30%;
}
.w-90{
  width: 90%;
  margin-left: 2.5%;
}
.w-110{
  width: 101%;
  padding: 15px 0px 10px 0px !important;
}
.parking_cards{
    padding: 17px 5px 10px 5px;
}
.w-10{
    width: 10%;
}
.icons{
  width: 10%;
  justify-content: center;
  align-items: center;
}
.icons .fa-plus-circle{
    font-size: 25px;
    color: green;
    cursor: pointer;
}
.icons .fa-minus-circle{
  font-size: 25px;
  color: red;
  cursor: pointer;
}
.disableIcons{
  pointer-events: none;
  color: #ccc !important;
}
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.save_btn{
    background-color: green !important;
    border: 0px;
}
.mb_view{
  text-align: right;
}
.disableIP input{
  background-color: #EBEBE4;
  cursor: default;
  border: 1px solid #c3c3c3;
}
.w-82{
  width: 81%;
}
.table td{
  border-top: 0px; 
}
::ng-deep .coordinates_td .ui-button.ui-button-text-only .ui-button-text{
  padding: 3px 20px 3px 20px !important;
}
::ng-deep .settings .ui-button.ui-button-text-only .ui-button-text{
  padding: 3px 20px 3px 20px !important;
}
.text-style td{
  font-size: 14px;
  font-weight: bolder;
}
.br-style{
  border-right: 1px solid #c8c8c8;
}
.card{
  height: 102.9px;
}
.coordinates_td{
  border-bottom: 1px solid #c8c8c8;
}
@media only screen and (min-width: 560px) and (max-width: 768px){
  .w-40{
    width: 40%;
  }
  .tab_view{
    flex: 0 0 100% !important;
    max-width: 100%;
  }
  .w-110{
    width: 101%;
  }
  .icons{
    align-items: center;
    justify-content: center;
  }
  .w-10{
    width: 11%;
  }
  .mb_view{
    text-align: right;
  }
}
@media only screen and (min-width: 320px) and (max-width: 560px){
  .mb_view{
    text-align: center !important;
  }
  .tab_view{
    padding: 0px 0px 0px 15px;
    width: 107%;
  }
  .js-center{
    justify-content: center;
  }
  .w-90{
    width: 93%;
  }
  .mb_left{
    margin-left: auto;
  }
  .w-10{
    width: 15%
  }
  .icons{
    justify-content: center;
    align-items: center;
  }
  .mb_row_view p-dropdown{
    margin: 0px !important;
    margin-bottom: 2% !important;
  }
}