<div class="container settings ">
    <div class="mt-3">
        <div class="row justify-content-center mb_row_view">
            <p-dropdown [options]="junctions" [(ngModel)]="selectedJunction" (onChange)="onJunctionSelect($event.value)" optionLabel="name" placeholder="Select Junction"  [filter]="true"></p-dropdown>
            <p-dropdown [options]="cams" [(ngModel)]="selectedCam" (onChange)="onCamSelect($event.value)" placeholder="Select Camera" [filter]="true" optionLabel="name" class="ml-3"></p-dropdown>
        </div>
        <div class="cams_fieldset mb-4">
            <p-fieldset *ngIf="showViewForm" [toggleable]="false" legend="Field of View">
                <form [formGroup]="viewForm" (ngSubmit)="submitViewForm(viewForm.value)">
                <div class="row card w-100 ml-1">
                    <table class="table text-center">
                        <thead>
                            <tr class="text-style">
                                <td colspan="2" class="page-family br-style">Top Left</td>
                                <td colspan="2" class="page-family br-style">Top Right</td>
                                <td colspan="2" class="page-family br-style">Bottom Left</td>
                                <td colspan="2" class="page-family br-style">Bottom Right</td>
                                <td colspan="2" class="page-family">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="coordinates_td">
                                <td class="f-13"><label> <b>X : </b></label><input type="number" placeholder="0" formControlName="xtl" class="camera_coordinates w-82"></td>
                                <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ytl" class="camera_coordinates w-82">
                                <td class="f-13"><label><b>X : </b></label><input type="number" placeholder="0" formControlName="xtr" class="camera_coordinates w-82"></td> 
                                <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ytr" class="camera_coordinates w-82"></td>  
                                <td class="f-13"><label><b>X : </b></label><input type="number" placeholder="0" formControlName="xbl" class="camera_coordinates w-82"></td> 
                                <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ybl" class="camera_coordinates w-82"></td>    
                                <td class="f-13"><label><b>X : </b></label> <input type="number" placeholder="0" formControlName="xbr" class="camera_coordinates w-82"></td>   
                                <td class="br-style"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ybr" class="camera_coordinates w-82"></td>     
                                <td><button pButton type="submit" *ngIf="isViewFormEdit" [disabled]="viewForm.invalid" label="Save" class="ui-button-rounded save_btn"></button></td>     
                                <td><button pButton type="button" *ngIf="!isViewFormEdit" (click)="isViewFormEdit=true;viewForm.enable()" label="Edit" class="ui-button-rounded"></button></td>               
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="col-md-6 row mb-2 tab_view">
                        <div class="col-md-4 mb_view">
                            <label class="mt-1"><b>Top-Left : </b></label>
                        </div>
                        <div class="col-md-8 row js-center">
                            <label class="mt-1 ml-1 mr-1"> <b>X - </b></label><input type="number" placeholder="0" formControlName="xtl" class="camera_coordinates w-40">
                            <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ytl" class="camera_coordinates w-40 ml-2">
                        </div>
                    </div>
                    <div class="col-md-6 row mb-2 tab_view">
                        <div class="col-md-4 mb_view">
                            <label class="mt-1"><b>Top-Right : </b></label>
                        </div>
                        <div class="col-md-8 row js-center">
                            <label class="mt-1 ml-1 mr-1"><b>X - </b></label><input type="number" placeholder="0" formControlName="xtr" class="camera_coordinates w-40">
                            <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ytr" class="camera_coordinates w-40 ml-2">
                        </div>
                    </div>
                    <div class="col-md-6 row mb-2 tab_view">
                        <div class="col-md-4 mb_view">
                            <label class="mt-1 "><b>Bottom-Left : </b></label>
                        </div>
                        <div class="col-md-8 row js-center">
                            <label class="mt-1 ml-1 mr-1"><b>X - </b></label><input type="number" placeholder="0" formControlName="xbl" class="camera_coordinates w-40">
                            <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ybl" class="camera_coordinates w-40 ml-2">
                        </div>
                    </div>
                    <div class="col-md-6 row mb-2 tab_view">
                        <div class="col-md-4 mb_view">
                            <label class="mt-1 "><b>Bottom-Right : </b></label>
                        </div>
                        <div class="col-md-8 row js-center">
                            <label class="mt-1 ml-1 mr-1"><b>X - </b></label> <input type="number" placeholder="0" formControlName="xbr" class="camera_coordinates w-40">
                            <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ybr" class="camera_coordinates w-40 ml-2">
                        </div>
                    </div> -->
                </div>
                <!-- <div class="row justify-content-center">
                    <button pButton type="submit" *ngIf="isViewFormEdit" [disabled]="viewForm.invalid" label="Save" class="mt-2 ui-button-rounded save_btn"></button>
                    <button pButton type="button" (click)="isViewFormEdit=true;viewForm.enable()" *ngIf="!isViewFormEdit" label="Edit" class="mt-2 ui-button-rounded"></button>
                </div> -->
            </form>
            </p-fieldset>
        </div>
        <div>
            <p-fieldset *ngIf="showNoParkingForm" [toggleable]="false" legend="No Praking Zones">
                <form [formGroup]="noParkingForm" (ngSubmit)="submitNoParkingForm(noParkingForm.value)">
                    <div formArrayName="no_parking_zone" *ngFor="let item of noParkingForm.get('no_parking_zone')['controls']; let i=index">
                       <div class="row" [formGroupName]="i">
                            <div class="row card w-90 ml-1" [ngClass]="{'disableIP':noPZIndex!=i}">
                                <table class="table text-center">
                                    <thead>
                                        <tr class="text-style">
                                            <td colspan="2" class="page-family br-style">Top Left</td>
                                            <td colspan="2" class="page-family br-style">Top Right</td>
                                            <td colspan="2" class="page-family br-style">Bottom Left</td>
                                            <td colspan="2" class="page-family br-style">Bottom Right</td>
                                            <!-- <td colspan="2" class="page-family">Action</td> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="coordinates_td">
                                            <td class="f-13"><label><b>X : </b></label><input type="number" placeholder="0" formControlName="xtl" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ytl" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="f-13"><label><b>X : </b></label><input type="number" placeholder="0" formControlName="xtr" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ytr" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="f-13"><label><b>X : </b></label><input type="number" placeholder="0" formControlName="xbl" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ybl" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="f-13"><label><b>X : </b></label><input type="number" placeholder="0" formControlName="xbr" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <td class="br-style f-13"><label><b>Y : </b></label><input type="number" placeholder="0" formControlName="ybr" [readonly]="noPZIndex!=i" class="camera_coordinates w-82"></td>
                                            <!-- <td><button pButton type="submit" *ngIf="isNoParkingFormEdit&&i==noPZIndex" label="Save" [disabled]="noParkingForm.invalid" class="mt-2 save_btn ui-button-rounded"></button></td>
                                            <td><button pButton type="button" (click)="isNoParkingFormEdit=true;noPZIndex=i" *ngIf="(!isNoParkingFormEdit&&noPZIndex==-1)||noPZIndex!=i" label="Edit" class="mt-2 ui-button-rounded"></button></td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <div class="col-md-6 row mb-2 p-0 tab_view">
                                    <div class="col-md-4 mb_view">
                                        <label class="mt-1"><b>Top-Left : </b></label>
                                    </div>
                                    <div class="col-md-8 row">
                                        <label class="mt-1 ml-1 mr-1"><b>X - </b></label><input type="number" placeholder="0" formControlName="xtl" [readonly]="noPZIndex!=i" class="camera_coordinates w-40">
                                        <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ytl" [readonly]="noPZIndex!=i" class="camera_coordinates w-40 ml-2">
                                    </div>
                                </div>
                                <div class="col-md-6 row mb-2 p-0 tab_view">
                                    <div class="col-md-4 mb_view">
                                        <label class="mt-1"><b>Top-Right : </b></label>
                                    </div>
                                    <div class="col-md-8 row">
                                        <label class="mt-1 ml-1 mr-1"><b>X - </b></label><input type="number" placeholder="0" formControlName="xtr" [readonly]="noPZIndex!=i" class="camera_coordinates w-40">
                                        <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ytr" [readonly]="noPZIndex!=i" class="camera_coordinates w-40 ml-2">
                                    </div>
                                </div>
                                <div class="col-md-6 row mb-2 p-0 tab_view">
                                    <div class="col-md-4 mb_view">
                                        <label class="mt-1"><b>Bottom-Left : </b></label>
                                    </div>
                                    <div class="col-md-8 row">
                                        <label class="mt-1 ml-1 mr-1"><b>X - </b></label><input type="number" placeholder="0" formControlName="xbl" [readonly]="noPZIndex!=i" class="camera_coordinates w-40">
                                        <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ybl" [readonly]="noPZIndex!=i" class="camera_coordinates w-40 ml-2">
                                    </div>
                                </div>
                                <div class="col-md-6 row mb-2 p-0 tab_view">
                                    <div class="col-md-4 mb_view">
                                        <label class="mt-1"><b>Bottom-Right : </b></label>
                                    </div>
                                    <div class="col-md-8 row">
                                        <label class="mt-1 ml-1 mr-1"><b>X - </b></label><input type="number" placeholder="0" formControlName="xbr" [readonly]="noPZIndex!=i" class="camera_coordinates w-40">
                                        <label class="mt-1 ml-3"><b>Y - </b></label><input type="number" placeholder="0" formControlName="ybr" [readonly]="noPZIndex!=i" class="camera_coordinates w-40 ml-2">
                                    </div>
                                </div>   -->
                            </div>
                        <div class="icons row ">
                            <i class="fa fa-minus-circle" (click)="removeNoParkingZone(i)" [ngClass]="{'disableIcons':!isNoParkingFormEdit||noPZIndex!=i}" *ngIf="noParkingForm.get('no_parking_zone')['controls'].length>1||i<noParkingForm.get('no_parking_zone')['controls'].length-1"></i>
                            <i class="fa fa-plus-circle ml-2" [ngClass]="{'disableIcons':noParkingForm.invalid||isNoParkingFormEdit}" (click)="addNoParkingZone(i)" *ngIf="i==noParkingForm.get('no_parking_zone')['controls'].length-1"></i>
                        </div>
                        </div>
                        <div class="row justify-content-center mb-2">
                            <button pButton type="submit" *ngIf="isNoParkingFormEdit&&i==noPZIndex" label="Save" [disabled]="noParkingForm.invalid" class="mt-2 save_btn ui-button-rounded"></button>
                            <button pButton type="button" (click)="isNoParkingFormEdit=true;noPZIndex=i" *ngIf="(!isNoParkingFormEdit&&noPZIndex==-1)||noPZIndex!=i" label="Edit" class="mt-2 ui-button-rounded"></button>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-center mb-2">
                        <button pButton type="submit" *ngIf="isNoParkingFormEdit" label="Save" [disabled]="noParkingForm.invalid" class="mt-2 save_btn ui-button-rounded"></button>
                        <button pButton type="button" (click)="isNoParkingFormEdit=true;noParkingForm.enable()" *ngIf="!isNoParkingFormEdit" label="Edit" class="mt-2 ui-button-rounded"></button>
                    </div> -->
                </form>

            </p-fieldset>
        </div>
    </div>
</div>